body{
    background-color: #f7f7f9;
}

main{
    width: 80vw;
    margin: 0 auto;
}

nav{
    font-size: 1.3em;
}

.logo{
    width: 3em;
}

.pokeimg{
    width: 25vw;
}

.flecha{
    width: 7vw;
}

.boton-volver:hover{
    cursor: pointer;
}

.pokeCardSmall:hover{
    cursor: pointer;
}

.pokeEvo:hover{
    cursor: pointer;
}
