body{
    background-color: white;
}

main{
    width: 80vw;
    margin: 0 auto;
}

nav{
    font-size: 1.5em;
}

.logo{
    width: 3em;
}

.pokeimg{
    width: 25vw;
}

.boton-volver{
    width: 4vw;
}

.boton-volver:hover{
    cursor: pointer;
}

.pokeCardSmall:hover{
    cursor: pointer;
}
