body{
    background-color: aquamarine;
}


main{
    width: 80vw;
}

nav{
    font-size: 2vw;
}
.logo{
    width: 4vw;
}
.carga{
    width: 30vw;
}

.pantalla-carga{
    width: 50vw;
}

.texto-carga{
    margin: auto;
}
.pokeimg{
    width: 25vw;
}

.pokeCardSmall{

}

.pokeCardBig{
    
}